<!-- todo/templates/todo/item.html -->
{% extends 'todo/base.html' %}

{% load static %}
{% block title %}Todo{% endblock %}
{% block content %}

<h1>Todo - {{item.title | upper }}</h1>

<div class="container">
  <div class="item">
    <div class="field">
      {{ item.get_status }}
    </div>
    <div class="field">
      <div class="title">User</div>
      <div class="value">{{ item.user.username }}</div>
    </div>
    <div class="field">
      <div class="title">Id</div>
      <div class="value">{{ item.id }}</div>
    </div>
    <div class="field">
      <div class="title">Description</div>
      <div class="value">{{ item.description }}</div>
    </div>
    <div class="field">
      <div class="title">Necessary time</div>
      <div class="value">
        {% if item.necessary_time %}
        Yes
        {% else %}
        No
        {% endif %}
      </div>
    </div>
    <div class="field">
      <div class="title">Created date</div>
      <div class="value">{{ item.created_at|date:"Y-m-d" }}</div>
    </div>
    <div>
      <a href="{% url 'todo:edit' item.id %}">Edit</a>
      <a href="{% url 'todo:index' %}">Back</a>
    </div>
  </div>
</div>

{% endblock %}
